body {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 250px;
  color: white;
  background-color: rgb(34, 34, 34);
}

.header {
  display: flex;
  align-items: center;

  width: 100%;
  gap: 1rem;
  background-color: rgb(59, 59, 59);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}


form {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
  
}